<span class="period period_margin" *ngIf="flightData">
  {{'Рейсы за ' +
  getFlightService.requestTime.day +
  ' ' +
  months[getFlightService.requestTime.month - 1] +
  ' ' +
  getFlightService.requestTime.hour +
  ':00 - ' +
  (getFlightService.requestTime.hour * 1 + 1) +
  ':00'}}
</span>

<div class="search search_border-bottom">
  <input class="search__element search__element_flex" type="text" placeholder="Поиск по номеру рейса" [(ngModel)]="search">
  <button class="search__element search__element_cursor-pointer" (click)="toggleDelayed()">{{buttonText}}</button>
</div>

<div class="table">
  <ng-container *ngIf="flightData; else error">
    <div class="flights-container">
      <cdk-virtual-scroll-viewport style="height: 100vh" itemSize="90">
        <div class="flight table__item_border"
             *cdkVirtualFor="let flight of flightData | filter:'status':filterValue | filter:'flightNumber':search">
          <div class="flight__left-text-block">
            <span class="flight__text-item flight__text-item_margin">{{flight.arrivalOrDepartureTime | date:'HH:mm'}}</span>
            <span class="flight__text-item">{{flight.arrivalOrDeparturePlace}}</span>
          </div>

          <div class="flight__right-text-block">
            <span class="flight__text-item flight__text-item_fixed-width">{{flight.airlineCode + ' ' + flight.flightNumber}}</span>
            <span class="flight__text-item flight__text-item_fixed-width">{{flight.arrivalOrDepartureGate}}</span>
            <span class="flight__text-item">{{flight.status}}</span>
          </div>

        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="table__no-flights table__no-flights_display-none table__item_border" *ngIf="flightData">
      <span>По вашему запросу ничего не найдено</span>
    </div>
  </ng-container>

  <ng-template #error>
    <div class="table__no-flights table__no-flights_error table__item_border">
      <span>Произошла ошибка при получении данных с сервера. Попробуйте повторить запрос</span>
    </div>
  </ng-template>
</div>
