@import 'src/styles/variables';

.period {
  text-align: right;
  display: inherit;
  color: $indigoDark;
  margin-bottom: 10px;
}

.search {
  border-bottom: 3px solid $indigoDark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  .search-child {
    height: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: $indigoDark;
    outline: none;
  }

  input {
    flex: 1;

    &::placeholder {
      color: $indigoDark;
    }
  }

  button {
    cursor: pointer;
  }
}

.flight {
  height: 100px;
  font-size: 24px;
  color: $indigo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $indigoDark;

  .left-inf {
    width: 15%;
    display: flex;
    justify-content: space-between;
  }

  .right-inf {
    @extend .left-inf;
    width: 40%;
  }
}
