@import 'src/styles/variables';

:host {
  display: block;
  margin: 50px;
}

.title {
  color: $indigoLight;
  cursor: default;
}

.filters {
  display: flex;
  font-size: 50px;
  max-width: 400px;
  justify-content: space-between;
  color: $indigo;

  &_margin {
    margin: 50px 0 100px;
  }

  &__title:hover {
    outline: none;
    color: $indigoDark;
    cursor: pointer;
  }

  &__title_active {
    @extend .filters__title:hover;
    border-bottom: 3px solid $indigoDark;
  }
}
